* {
    margin: 0px;
    padding: 0px;

}

.header-section {
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
}

.nav-container {
    min-height: 10px;
    display: flex;
    align-items: center;
    width: 50%;

}

.nav-container img {
    padding: 50px 0px 0px 0px;
    width: 48px;
    height: 56px
}

.nav-container p {
    padding: 52px 0px 0px 16.63px;
    font-size: 36px;
    color: #131318;
    font-family: Mulish;
    font-weight: 800;
}

.items-container {
    padding: 65px 0px 0px 0px;
    display: flex;
    width: 50%;
    justify-content: space-between;
    font-family: Mulish;
    font-weight: 400;
}

.items-container a {
    text-decoration: none;
}

.banner-section {
    width: 1250px;
    margin: 0 auto;
}

.banner-img img {
    padding-top: 49px;
    width: 100%;
    height: 550px;
    background-position: top;
    object-fit: cover;
}

.banner-heading {
    position: relative;
    top: -500px;
    left: 300px;
    max-width: fit-content;
    color: black font-family: Mulish;
    font-size: 46px;
    font-weight: 800;
    line-height: normal;
}

.banneer-paragraph {
    position: relative;
    top: -470px;
    left: 280px;
    color: black;
    width: 676px;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.banner-inputs {
    position: relative;
    top: -300px;
    padding-left: 260px;
    align-content: space-around;
    display: flex;
    background: rgba(230, 227, 227, 0.425);
}

.input1 {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    border-style: none;
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}

.input2 {
    position: relative;
    left: 30px;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    border-style: none;
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input3 {
    position: relative;
    left: 60px;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    border-style: none;
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}

.input4 {
    position: relative;
    left: 90px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    border-style: none;
}



.main-part {
    display: flex;
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
}

.main-text h2 {
    position: relative;
    top: -100px;
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}

.main-text p {
    position: relative;
    top: -76px;
    color: rgba(19, 19, 24, 0.70);
    width: 577px;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.main-paragraph2 {
    position: relative;
    top: 40px;
    color: rgba(19, 19, 24, 0.70);
    width: 577px;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.main-text ul {
    position: relative;
    top: -52px;
    color: rgba(19, 19, 24, 0.70);
    width: 525px;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.main-button button {
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    border-style: none;
}

.main-image img {
    position: relative;
    top: -100px;
    left: 140px;
    width: 540px;
    height: 550px;
    border-radius: 16px;
    object-fit: cover;
}

.destination {
    max-width: 1250px;
    margin: 0 auto;
}

.destination h2 {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}

.destination p {
    position: relative;
    top: 20px;
    left: 300px;
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.destination-images {
    max-width: 1250px;
    margin: 0 auto;
    align-content: space-between;
}

.destination-group1 {
    position: relative;
    top: 50px;
}

.maldives {
    width: 600px;
    height: 300px;
    border-radius: 16px;
    object-fit: cover;
}

.indonasia {
    position: relative;
    left: 40px;
    width: 610px;
    height: 300px;
    border-radius: 16px;
    object-fit: cover;
}

.image-name {
    display: flex;
    max-width: 1250px;
    margin: 0 auto;
}

.name1 {
    position: relative;
    top: -120px;
    left: 250px;
    color: #fff;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}

.name2 {
    position: relative;
    top: -120px;
    left: 780px;
    color: #fff;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}

.destination-group2 {
    position: relative;
    top: 50px;
}

.srilanka {
    width: 374px;
    height: 286px;
    border-radius: 16px;
    object-fit: cover;
}

.north-america {
    position: relative;
    left: 40px;
    width: 500px;
    height: 286px;
    border-radius: 16px;
    object-fit: cover;
}

.kashmir {
    position: relative;
    left: 80px;
    width: 290px;
    height: 286px;
    border-radius: 16px;
    object-fit: cover;
}

.image-name2 {
    display: flex;
    max-width: 1250px;
    margin: 0 auto;
}

.name3 {
    position: relative;
    top: -120px;
    left: 140px;
    color: #fff;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}

.name4 {
    position: relative;
    top: -120px;
    left: 460px;
    color: #fff;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}

.name5 {
    position: relative;
    top: -120px;
    left: 740px;
    color: #fff;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}

.destination-group3 {
    position: relative;
    top: 50px;
}

.bangladesh {
    width: 560px;
    height: 300px;
    border-radius: 16px;
    object-fit: cover;
}

.bandarban {
    position: relative;
    left: 40px;
    width: 650px;
    height: 300px;
    border-radius: 16px;
    object-fit: cover;
}

.name6 {
    position: relative;
    top: -120px;
    left: 220px;
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}

.name7 {
    position: relative;
    top: -120px;
    left: 680px;
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}

.choose-us {
    max-width: 1250px;
    margin: 0 auto;
}

.choose-us h2 {
    position: relative;
    top: 100px;
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}

.choose-us p {
    position: relative;
    top: 124px;
    left: 300px;
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.small-bannerr {
    max-width: 1250px;
    margin: 0 auto;

}

.small-bannerr1 img {
    position: relative;
    top: 230px;
    width: 64px;
    height: 64px;
}

.small-bannerr1 h3 {
    position: relative;
    top: 250px;
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
}

.small-bannerr1 p {
    position: relative;
    top: 270px;
    width: 486px;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.small-banner2 img {
    position: relative;
    top: 10px;
    left: 800px;
    width: 64px;
    height: 64px;
}

.small-banner2 h3 {
    position: relative;
    top: 20px;
    left: 800px;
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
}

.small-banner2 p {
    position: relative;
    top: 30px;
    left: 800px;
    width: 486px;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.small-banner3 img {
    position: relative;
    top: 103px;
    left: 450px;
    width: 64px;
    height: 64px;
}

.small-banner3 h3 {
    position: relative;
    top: 130px;
    left: 450px;
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
}

.small-banner3 p {
    position: relative;
    top: 140px;
    left: 450px;
    width: 486px;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.own-part {
    max-width: 1250px;
    margin: 0 auto;
}

.own-images {
    display: flex;
}

.own-heading {
    position: relative;
    top: 400px;
    left: 400px;
    font-size: 50px;
    font-family: Mulish;
}

.own-images img {
    position: relative;
    top: 500px;
    width: 420px;
    height: 420px;
    border-radius: 16px;
}

.image1:hover {
    transform: scale(1.3);
    z-index: 2;
}

.image2:hover {
    transform: scale(1.3);
    z-index: 2;
}

.image3:hover {
    transform: scale(1.3);
    z-index: 2;
}

.image1 {
    object-fit: cover;
    transition: 0.5s;
}

.image2 {
    position: relative;
    left: 15px;
    transition: 0.5s;
    object-fit: cover;
}

.image3 {
    position: relative;
    left: 30px;
    transition: 0.5s;
    object-fit: cover;
}

.own-text1 h2 {
    position: relative;
    left: 20px;
    top: 390px;
    font-family: Mulish;
    width: 400px;
    color: #FFF;
    transition: 0.5s;
}

.h2:hover {
    transform: scale(1.3);
    z-index: 2;
}

.own-text1 h3 {
    position: relative;
    left: 20px;
    top: 370px;
    font-family: Mulish;
    color: #FFF;
    transition: 0.5s;
}

.h3:hover {
    transform: scale(1.3);
    z-index: 2;
}

.own-text2 h2 {
    position: relative;
    left: 450px;
    top: 300px;
    font-family: Mulish;
    width: 400px;
    color: white;
    transition: 0.5s;
}

.own-text2 h3 {
    position: relative;
    left: 450px;
    top: 280px;
    font-family: Mulish;
    color: #FFF;
    transition: 0.5s;
}

.own-text3 h2 {
    position: relative;
    left: 890px;
    top: 210px;
    font-family: Mulish;
    width: 400px;
    color: #fff;
    transition: 0.5s;
}

.own-text3 h3 {
    position: relative;
    left: 890px;
    top: 200px;
    font-family: Mulish;
    color: #fff;
    transition: 0.5s;
}

.newsletter {
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
}

.form {
    position: relative;
    top: 400px;
    border: 1px solid tomato;
    border-radius: 16px;
    padding: 20px;
}

.form h3 {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
}

.form p {
    position: relative;
    top: 10px;
    width: 350px;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.form hr {
    position: relative;
    top: 15px;
    color: #a7a7ad;
}

.inputs {
    display: block;
}

::placeholder {
    color: rgba(19, 19, 24, 0.30);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
}

.newsinput {
    position: relative;
    top: 20px;
    width: 393px;
    height: 52px;
    border-radius: 8px;
    border-style: none;
    background: rgba(19, 19, 24, 0.05);
}

.newsinput1 {
    position: relative;
    top: 40px;
    width: 393px;
    height: 52px;
    border-radius: 8px;
    border-style: none;
    background: rgba(19, 19, 24, 0.05);
}

.newsbutton {
    position: relative;
    top: 60px;
    width: 393px;
    height: 32px;
    border-radius: 8px;
    background: #FF5400;
    color: #fff;
    border-style: none;
}

.news-image img {
    position: relative;
    top: 395px;
    left: 310px;
    width: 550px;
    height: 280px;
    border-radius: 16px;
}

.image-button {
    position: relative;
    top: 220px;
    left: 550px;
    width: 300px;
    height: 120px;
    color: #FFF;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    background: #FF5400;
    border-style: none;
    border-radius: 16px;
    transform: rotate(-19.628deg);
}

.footer-section {
    position: relative;
    top: 500px;
    max-width: 1250px;
    margin: 0 auto;
    /* background: rgba(19, 19, 24, 0.05); */
}

.footer-heading {
    display: flex;
    position: relative;
    top: 110px;
    left: 500px;

}

.footer-image img {
    width: 40px;
    height: 46.673px;
}

.footer-tittle h3 {
    color: #131318;
    font-family: Mulish;
    font-size: 32px;
    font-weight: 800;

}

.footer-paragraph p {
    position: relative;
    top: 120px;
    color: #5A5A5D;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.footer-social img {
    position: relative;
    top: 150px;
    left: 550px;
    width: 174.322px;
    height: 24px;
}

.footer-social hr {
    position: relative;
    top: 180px;
}

.footer-social p {
    position: relative;
    top: 250px;
    left: 550px;
    color: #131318;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 50px;
}